
<style>
  body {background-color: powderblue;}
  h1   {color: rgb(61, 107, 167);}
  h1 {font-family: 'Be Vietnam Pro', sans-serif;}
  .submit {background-color: #af7a35; /* Green */
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}
</style>
    
<h1>Hi <%= name %></h1>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit" class="submit">Log Out</button>
</form>

